.contact-us-section{
    h3{
        @extend %category-title;
    }
    form{
        textarea{
            border: 2px solid #780677fb;
            &:hover{
                border:2px dotted #2a00ff;
            }
        }
        input{
            border: 1px solid #780677fb;
            &:hover{
                border: 1px dashed  #2a00ff;
            }
        }
    }
    ul.school-detail{
        background-color: #eae8e8;
        text-align: justify;
        border-radius: 10px;
        padding: 20px;
        font-size: 21px;
        color: #575656;
        li.school-name{
            h4{
                color: #333;

            }
        }
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: #575656;
            }
        }
    }
}