// sidebar
.sidebar-section {
    .school-information {
        ul {
            padding: 0;

            li {
                border-radius: 3px;
                list-style: none;
                background: rgb(251, 9, 91);
                background: -moz-linear-gradient(90deg, rgba(251, 9, 91, 1) 0%, rgba(255, 0, 52, 1) 81%);
                background: -webkit-linear-gradient(90deg, rgba(251, 9, 91, 1) 0%, rgba(255, 0, 52, 1) 81%);
                background: linear-gradient(90deg, rgba(251, 9, 91, 1) 0%, rgba(255, 0, 52, 1) 81%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb095b", endColorstr="#ff0034", GradientType=1);
                margin-bottom: 3px;
                color: #fff;
                padding: 5px;

                &::before {
                    content: "\F137";
                    font-family: "bootstrap-icons";
                    font-size: 18px;
                    display: inline-block;
                    transform: translateY(4px);
                    font-weight: 900;
                    padding: 0 15px;
                }

                &:hover {
                    background: rgb(251, 155, 9);
                    background: -moz-linear-gradient(90deg, rgba(251, 155, 9, 1) 0%, rgba(255, 72, 0, 1) 81%);
                    background: -webkit-linear-gradient(90deg, rgba(251, 155, 9, 1) 0%, rgba(255, 72, 0, 1) 81%);
                    background: linear-gradient(90deg, rgba(251, 155, 9, 1) 0%, rgba(255, 72, 0, 1) 81%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb9b09", endColorstr="#ff4800", GradientType=1);

                }

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #fff;

                    &:hover {
                        color: #eceaea;
                    }
                }
            }
        }
    }
}
