@import url("https://cdn.staticaly.com/gh/sh4hids/bangla-web-fonts/9baee0fc23e77fe957c0b70fe49d81d2cbbe87d6/boshonto/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Serif+Bengali:wght@100;300;500;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
header .main-logo {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 22%, rgb(42, 0, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#2a00ff", GradientType=1);
}

nav.navbar {
  background-color: #2a00ff;
  background-image: linear-gradient(rgba(43, 9, 155, 0.9058823529), #2a00ff);
}

.usefull-link .reapeated-item, .notice-board .card-header, .feature-section .four .reapeated-item, .feature-section .three .reapeated-item, .feature-section .two .reapeated-item, .feature-section .one .reapeated-item, main .school-summary .repeated-item, main .main-inner .repeated-item {
  font-size: 18px;
  color: #fff;
  padding: 0.3rem;
}

.contact-us-section h3, .profile-detail-view-section h1, .person-identity-info-section h1 {
  background: rgb(120, 6, 119);
  background: linear-gradient(90deg, rgba(120, 6, 119, 0.9837184874) 9%, rgb(173, 11, 194) 50%, rgb(61, 6, 120) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780677", endColorstr="#3d0678", GradientType=1);
  color: #fff;
  margin: 20px 0;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

footer .footer-section h2.section-title {
  background: rgb(120, 6, 119);
  background: linear-gradient(90deg, rgba(120, 6, 118, 0.35) 9%, rgb(11, 194, 47) 50%, rgba(120, 6, 73, 0.32) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780677", endColorstr="#3d0678", GradientType=1);
  color: #fff;
  margin: 20px 0;
  text-align: center;
  border-radius: 30px 5px 30px 5px;
  padding: 5px;
}

body {
  font-family: "Noto Serif Bengali", "Lato", "sans-serif";
  color: #333;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

header .main-logo {
  padding: 30px;
}
header .main-logo .logo-inner a {
  text-decoration: none;
  color: #fff;
}
header .main-logo .logo-inner a h1.school-name {
  font-family: "Boshonto", sans-serif;
  font-size: 55px;
}
header .main-logo .logo-inner a h2 {
  font-size: 39px;
  color: #e3e0e0;
}
header .main-logo .logo-inner a h3 {
  font-size: 31px;
  color: #e3e0e0;
}

nav.navbar {
  padding-top: 0;
  margin-bottom: 5px;
  margin-top: 1px;
  border-radius: 5px;
}
nav.navbar ul li {
  padding-left: 1px;
}
nav.navbar ul li span {
  background-color: #d500a4;
  color: #fff !important;
  padding: 7px;
}
nav.navbar ul li:hover ul {
  display: block;
}
nav.navbar ul li a {
  background-color: rgba(43, 9, 155, 0.9058823529);
  color: #ebe5e5 !important;
  padding: 7px;
  transition-duration: 0.3s;
}
nav.navbar ul li a:hover {
  background-color: rgba(35, 7, 129, 0.9058823529);
  color: #fff !important;
}
nav.navbar ul li .dropdown-item {
  background-color: rgba(43, 9, 155, 0.9058823529);
  color: #ebe5e5 !important;
  padding: 7px;
}
nav.navbar ul li .dropdown-item:hover {
  background-color: #fff;
  color: rgba(35, 7, 129, 0.9058823529) !important;
}

.slider-section button span i {
  font-size: 50px;
}

.breaking-news {
  margin-bottom: 10px;
}
.breaking-news .bg-danger {
  padding: 0 20px;
  border-radius: 0 25px 0 0 !important;
}
.breaking-news .news {
  width: 160px;
}
.breaking-news .news-scroll a {
  text-decoration: none;
}
.breaking-news .dot {
  height: 10px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: rgb(207, 23, 23);
  border-radius: 50%;
  display: inline-block;
}

main p::first-letter {
  font-size: 30px;
}
main .main-inner .repeated-item {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(23, 0, 50) 9%, rgb(42, 0, 255) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#2a00ff", GradientType=1);
  margin-bottom: 0.7rem;
}
main .school-summary {
  margin-bottom: 20px;
}
main .school-summary .repeated-item {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(23, 0, 50) 9%, rgb(42, 0, 255) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#2a00ff", GradientType=1);
  margin-bottom: 0.7rem;
}
main .school-summary .quote img {
  width: 40%;
  height: auto;
  margin-right: 10px;
  float: left;
}
main .school-summary .quote p {
  text-align: justify;
}

.feature-section .one .reapeated-item {
  background: rgb(245, 11, 76);
  background: linear-gradient(90deg, rgba(245, 11, 76, 0.9837184874) 31%, rgb(50, 0, 31) 100%, rgb(255, 0, 232) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f50b4c", endColorstr="#ff00e8", GradientType=1);
}
.feature-section .two .reapeated-item {
  background: rgb(6, 120, 13);
  background: linear-gradient(90deg, rgba(6, 120, 13, 0.9837184874) 9%, rgb(2, 55, 16) 50%, rgb(6, 120, 13) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06780d", endColorstr="#06780d", GradientType=1);
}
.feature-section .three .reapeated-item {
  background: rgb(120, 6, 119);
  background: linear-gradient(90deg, rgba(120, 6, 119, 0.9837184874) 9%, rgb(173, 11, 194) 50%, rgb(61, 6, 120) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780677", endColorstr="#3d0678", GradientType=1);
}
.feature-section .four .reapeated-item {
  background: rgb(251, 9, 91);
  background: linear-gradient(90deg, rgb(251, 9, 91) 0%, rgb(156, 9, 59) 34%, rgba(255, 0, 86, 0.8156512605) 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb095b", endColorstr="#ff0056", GradientType=1);
}
.feature-section .section-4 {
  margin-bottom: 20px;
}
.feature-section .section-4 .feature-inner {
  border: 1px solid grey;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.1058823529);
}
.feature-section .section-4 .feature-inner .feature-content img {
  height: 100px;
  transform: translateX(30%);
}
.feature-section .section-4 .feature-inner .feature-content ul li {
  list-style: none;
  line-height: 16px;
}
.feature-section .section-4 .feature-inner .feature-content ul li::before {
  content: "\f26e";
  font-family: "bootstrap-icons";
  font-size: 22px;
  display: inline-block;
  transform: translateY(6px);
  font-weight: 900;
}
.feature-section .section-4 .feature-inner .feature-content ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}
.feature-section .section-4 .feature-inner .feature-content ul li a:hover {
  color: rgba(9, 9, 157, 0.7843137255);
}

.notice-board .card-header {
  background: rgb(120, 6, 119);
  background: linear-gradient(90deg, rgba(120, 6, 119, 0.9837184874) 9%, rgb(173, 11, 194) 50%, rgb(61, 6, 120) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780677", endColorstr="#3d0678", GradientType=1);
}
.notice-board .card-body {
  background-color: rgba(128, 128, 128, 0.1058823529);
}
.notice-board .card-body ul.demo1 {
  margin: 0;
  padding: 0;
}
.notice-board .card-body ul.demo1 li.news-item {
  list-style: none;
  padding: 4px 4px;
  margin: 0px;
  border-bottom: 1px dotted #555;
}
.notice-board .card-body ul.demo1 li.news-item table tr td {
  color: #767373;
}
.notice-board .card-body ul.demo1 li.news-item table tr td::before {
  content: "\f137";
  font-family: "bootstrap-icons";
  font-size: 18px;
  display: inline-block;
  transform: translateY(4px);
  font-weight: 900;
  padding-right: 15px;
}
.notice-board .card-body ul.demo1 li.news-item table tr td a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
.notice-board .card-body ul.demo1 li.news-item table tr td a:hover {
  color: blue;
}

.sidebar-section .school-information ul {
  padding: 0;
}
.sidebar-section .school-information ul li {
  border-radius: 3px;
  list-style: none;
  background: rgb(251, 9, 91);
  background: linear-gradient(90deg, rgb(251, 9, 91) 0%, rgb(255, 0, 52) 81%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb095b", endColorstr="#ff0034", GradientType=1);
  margin-bottom: 3px;
  color: #fff;
  padding: 5px;
}
.sidebar-section .school-information ul li::before {
  content: "\f137";
  font-family: "bootstrap-icons";
  font-size: 18px;
  display: inline-block;
  transform: translateY(4px);
  font-weight: 900;
  padding: 0 15px;
}
.sidebar-section .school-information ul li:hover {
  background: rgb(251, 155, 9);
  background: linear-gradient(90deg, rgb(251, 155, 9) 0%, rgb(255, 72, 0) 81%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb9b09", endColorstr="#ff4800", GradientType=1);
}
.sidebar-section .school-information ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
.sidebar-section .school-information ul li a:hover {
  color: #eceaea;
}

.usefull-link {
  margin-top: 30px;
}
.usefull-link .reapeated-item {
  background: rgb(6, 120, 13);
  background: linear-gradient(90deg, rgba(6, 120, 13, 0.9837184874) 9%, rgb(2, 55, 16) 50%, rgb(6, 120, 13) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06780d", endColorstr="#06780d", GradientType=1);
}
.usefull-link ul {
  background-color: rgba(128, 128, 128, 0.1058823529);
  padding: 20px;
}
.usefull-link ul li {
  list-style: none;
  line-height: 25px;
}
.usefull-link ul li::before {
  content: "\f134";
  font-family: "bootstrap-icons";
  font-size: 20px;
  display: inline-block;
  transform: translateY(5px);
  font-weight: 900;
  margin-right: 10px;
}
.usefull-link ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
}
.usefull-link ul li a:hover {
  color: rgba(9, 9, 157, 0.7843137255);
}

.person-identity-info-section .card {
  padding: 0;
  overflow: hidden;
  width: 18rem;
  border: 1px solid #ae00ff;
  margin: 5px;
}
.person-identity-info-section .card .info-inner .person-img {
  overflow: hidden;
}
.person-identity-info-section .card .info-inner .person-img img {
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.person-identity-info-section .card .info-inner .person-img .img-effect {
  transition-duration: 0.3s;
  transform: scale(1);
}
.person-identity-info-section .card .info-inner .person-img .img-effect:hover {
  transform: scale(1.1);
}
.person-identity-info-section .card .info-inner .card-body {
  text-align: center;
  background-color: #efebeb;
  padding: 0;
}
.person-identity-info-section .card .info-inner .card-body .person-name a {
  color: #333;
  font-size: 20px;
  border-bottom: 1px solid #999797;
  padding-top: 5px;
  display: inline-block;
}
.person-identity-info-section .card .info-inner .card-body .person-name a:hover {
  color: #ae00ff;
}
.person-identity-info-section .card .info-inner .card-body span.card-text {
  margin-top: 5px;
  display: inline-block;
  color: #7c7c7c;
}
.person-identity-info-section .pagination {
  margin: 20px 0;
}

.profile-detail-view-section .profile-inner img {
  border-radius: 10px;
}
.profile-detail-view-section .profile-inner h2 {
  text-align: center;
  background: #e8e7e7;
  color: #333;
  border-radius: 5px;
  font-size: 28px;
  padding: 5px 0;
}
.profile-detail-view-section .profile-inner .row {
  border-bottom: 1px solid grey;
}

.contact-us-section form textarea {
  border: 2px solid rgba(120, 6, 119, 0.9843137255);
}
.contact-us-section form textarea:hover {
  border: 2px dotted #2a00ff;
}
.contact-us-section form input {
  border: 1px solid rgba(120, 6, 119, 0.9843137255);
}
.contact-us-section form input:hover {
  border: 1px dashed #2a00ff;
}
.contact-us-section ul.school-detail {
  background-color: #eae8e8;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  font-size: 21px;
  color: #575656;
}
.contact-us-section ul.school-detail li.school-name h4 {
  color: #333;
}
.contact-us-section ul.school-detail li {
  list-style: none;
}
.contact-us-section ul.school-detail li a {
  text-decoration: none;
  color: #575656;
}

footer {
  margin-top: 80px;
}
footer .footer-section .teachers-contact .teachers-inner h3.section-title {
  text-align: center;
  border-bottom: 2px solid rgba(120, 6, 119, 0.9843137255);
  font-size: 25px;
}
footer .footer-section .teachers-contact .teachers-inner ul {
  border-left: 2px solid red;
}
footer .footer-section .teachers-contact .teachers-inner ul li {
  list-style: none;
}
footer .footer-section .teachers-contact .teachers-inner ul li a {
  color: #969494;
}
footer .footer-section .teachers-contact .teachers-inner ul li.person-name {
  font-size: 20px;
  margin-bottom: 20px;
  color: #575757;
}
footer .footer-section .teachers-contact .teachers-inner ul li.person-info {
  font-size: 14px;
}
footer .bottom-footer {
  background-color: #f5f4f4;
  padding: 30px;
  color: #717070;
  border-radius: 30px 30px 0 0;
  margin-top: 20px;
}
footer .bottom-footer .bottom-footer-inner h5 {
  font-size: 14px;
}
footer .bottom-footer .bottom-footer-inner ul.nav li {
  padding-left: 10px;
}
footer .bottom-footer .bottom-footer-inner ul.nav li a {
  font-size: 21px;
  color: #575757;
}
footer .bottom-footer .bottom-footer-inner ul.nav li a:hover {
  background-color: #fff;
  border-radius: 5px;
}
footer .bottom-footer .bottom-footer-inner ul.nav li a .bi-twitter:hover {
  color: blue;
}
footer .bottom-footer .bottom-footer-inner ul.nav li a .bi-whatsapp:hover {
  color: green;
}
footer .bottom-footer .bottom-footer-inner ul.nav li a .bi-youtube:hover {
  color: red;
}
footer .bottom-footer .bottom-footer-inner ul.nav li a .bi-facebook:hover {
  color: blue;
}
footer .bottom-footer .bottom-footer-inner h6 {
  font-size: 14px;
}
footer .bottom-footer .bottom-footer-inner h6 a {
  color: black;
}

@media (max-width: 1399.98px) {
  header .main-logo .logo-inner a h1.school-name {
    font-size: 49px;
  }
}
@media (max-width: 1199.98px) {
  header .main-logo .logo-inner a h1.school-name {
    font-size: 39px;
  }
  header .main-logo .logo-inner a h2 {
    font-size: 31px;
  }
  header .main-logo .logo-inner a h3 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  nav.navbar {
    background: transparent !important;
  }
  header .main-logo .logo-inner a h1.school-name {
    font-size: 44px;
  }
  header .logo-inner img {
    display: none;
  }
  main .school-summary .quote img {
    width: 21%;
    height: auto;
    margin-right: 10px;
    float: left;
  }
}
@media (max-width: 767.98px) {
  header .main-logo .logo-inner a h1.school-name {
    font-size: 28px;
  }
  header .main-logo .logo-inner a h2 {
    font-size: 25px;
  }
  header .main-logo .logo-inner a h3 {
    font-size: 20px;
  }
  main .school-summary .quote img {
    width: 40%;
    height: auto;
    margin-right: 10px;
    float: left;
  }
}
@media (max-width: 476.98px) {
  header .main-logo .logo-inner a h1.school-name {
    font-size: 23px;
  }
  header .main-logo .logo-inner a h2 {
    font-size: 20px;
  }
  header .main-logo .logo-inner a h3 {
    font-size: 18px;
  }
}
@media (max-width: 370.98px) {
  header .main-logo .logo-inner a h1.school-name {
    font-size: 20px;
  }
  header .main-logo .logo-inner a h2 {
    font-size: 18px;
  }
  header .main-logo .logo-inner a h3 {
    font-size: 16px;
  }
} /*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */